In [14]:
import pandas as pd 
# pandas is equlivalant to sql for python. Sql already exists for python but pandas is more suited for AI work 
# in the field of we use table a lot and to teach the model we use table
# SQL is more detail

Pandas Package
    - Work on table, read table , modifiy table, save table and everything related to table, csv, excel file read, save. 
    - Data rangling tool formating tool
    - Pandas can also store in new CSV and can work same as SQL, export to csv and save as a database
    - SQL is also used for query run for database. Pandas also do the same work as SQL and save in a CSV file
    - In AI task we need to look up pattern from a table
    - Make data format ready is the work of pandas and pass it to AI algorythm

In [28]:
dic_var = {
    'Student':['Ram', 'Shyam', 'Sita', 'Geeta'],
    'Marks' : [10,20,30,40]
}
print(dic_var)

{'Student': ['Ram', 'Shyam', 'Sita', 'Geeta'], 'Marks': [10, 20, 30, 40]}

In [29]:
# convert the dictionary in a table from pandas
# Pandas operation 1:
# see tutorials and documentation
data_frame_var = pd.DataFrame(dic_var) # from pd library use dataframe class or pd object use the dataframe method
# higher level abstraction convert dictionary to dataframe(table)
print('Before adding new column: ')
data_frame_var# now the dictionary converted into a table

Before adding new column:

  Student  Marks
0     Ram     10
1   Shyam     20
2    Sita     30
3   Geeta     40

In [30]:
# adding new column
print('After adding new column Social Skills')
data_frame_var['Social Skills'] = [10,20,30,40]
data_frame_var

After adding new column Social Skills

  Student  Marks  Social Skills
0     Ram     10             10
1   Shyam     20             20
2    Sita     30             30
3   Geeta     40             40

In [31]:
# removing column !!
print('After droping the column: ')
data_frame_var = data_frame_var.drop(columns=['Social Skills'])
data_frame_var

After droping the column:

  Student  Marks
0     Ram     10
1   Shyam     20
2    Sita     30
3   Geeta     40

In [34]:
# Looking up certain row
# SQL select *  where <- type of condition
# loc and iloc (index locate) in pandas to look up certain rows 
print(data_frame_var)
print('\nAfter the change\n')
data_frame_var.loc[data_frame_var['Marks']<=32] #data frame table(data_frame_var) locate the condition ie data frame variable of "Marks" column where marks<=32
# the above uses a print statement

  Student  Marks
0     Ram     10
1   Shyam     20
2    Sita     30
3   Geeta     40

After the change

  Student  Marks
0     Ram     10
1   Shyam     20
2    Sita     30

In [40]:
# we can also save file to excel, csv 
# saving data frame to csv
data_frame_var.to_csv('Data.csv', index = False) #standard is csv and index 0 is remove index

In [43]:
#loading from csv / reading from csv
new_dataframe_csv = pd.read_csv('/Users/Uttam/Documents/hackademia/Libraries_understanding/Data.csv') # absolute path of the file can also take relative path 
print(f'Loaded from csv\n{new_dataframe_csv}') # index are used for .iloc

Loaded from csv
  Student  Marks
0     Ram     10
1   Shyam     20
2    Sita     30
3   Geeta     40

In [49]:
# show the column
print(new_dataframe_csv['Student']) #shows the info of the entire column
print('--'*25)
# using the index to see rows
new_dataframe_csv.iloc[1] # index locator to see the row on the basis or the row 
# writing two condition 
new_dataframe_csv.loc[(new_dataframe_csv['Student']== 'Ram') | (new_dataframe_csv['Marks'] == 20)]
# | = or , & = and

0      Ram
1    Shyam
2     Sita
3    Geeta
Name: Student, dtype: object
--------------------------------------------------

  Student  Marks
0     Ram     10
1   Shyam     20

Task 1:
    Take N from user (N = number of question)
    Get N number of question and n number of answers for a quiz
    collect all question in question_list and answer in answer_list
    conver it to dictionary 
    convert it to data frame 
    display the final table

In [26]:
n = int(input('enter the number of question '))
question1 = []
answer1 = []
dict_of_qa = {
    'question' : [],
    'answer' : []
}
# creating the question from user
for _ in range(1,n+1):
    question = input('Enter a question: ')
    answer = input('Enter a answer: ')
    question1.append(question)
    answer1.append(answer)
# appending the question and answer to the dictionary
dict_of_qa['question'] = question1
dict_of_qa['answer'] = answer1

#create a data frame
data_frame_qa = pd.DataFrame(dict_of_qa)
data_frame_qa

                             question       answer
0       What is the capital of Nepal?    Kathmandu
1      What is the capital of India?     New dheli
2  how many bones are there in human?          108
3                    When is dashain?  On thursday
4                     Is this a game?          Yes

Task 2:
In the previous table include this question complusory:
    what is the capital city of Nepal : KTM
    
    Look up only the row with this question : "what is the capital city of Nepal"

In [39]:
# only selecting the needed rows
Nepal = data_frame_qa.loc[data_frame_qa['question'] == 'What is the capital of Nepal?'] # when saved in a new variable then a new data frame is created
# this is helpful to create different sub table and save the table elsewhere

Nepal

                        question     answer
0  What is the capital of Nepal?  Kathmandu